* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {}

.header .middle-header {
  padding: 20px 0;
  background: #3ba66b;
  position: relative;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
}

.row {
  margin-right: -10px;
  margin-left: -10px;
}



.bg-header-nav .header-nav>ul.item_big {
  text-align: left;
  margin: 0;
  padding: 0;
}

.bg-header-nav .header-nav>ul.item_big>li.nav-item {
  display: inline-block;
  float: left;
  position: relative;
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 0px;
  padding: 0px;
  height: 42px;
}

.bg-header-nav .header-nav>ul.item_big>li.nav-item:first-child>a {
  padding-left: 0;
}

.bg-header-nav .header-nav>ul.item_big>li.nav-item>a {
  display: block;
  text-align: left;
  padding: 0px 15px;
  font-size: 15px;
  font-family: "arial", sans-serif;
  font-weight: bold;
  height: 42px;
  line-height: 42px;
  position: relative;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.bg-header-nav .header-nav>ul.item_big>li.nav-item .fa-caret-down {
  visibility: hidden;
  display: none;
}

.bg-header-nav .header-nav>ul.item_big>li.nav-item .item_small {
  overflow: hidden;
  display: block;
  max-height: 0px;
  max-width: 0px;
  opacity: 0;
  top: 99%;
  left: 0px;
  width: 220px;
  padding: 0;
  background-color: #fff;
  box-shadow: 0 1px 2px 2px rgba(0,0,0,0.04);
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  z-index: 99;
}




a,
.text-link {
  color: #000;
  text-decoration: none;
  background: transparent;
}

ul {
  list-style: none inside;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

@media (max-width: 1199px) and (min-width: 768px) {
  .header-left .heade_menunavs {
    width: 330px;
    position: relative;
    height: 100vh;
    width: 100%;
  }

  .header-left .heade_menunavs .wrap_main {
    display: block !important;
    max-height: 100vh;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    background: #fff;
    width: 100%;
    padding-bottom: 50px;
  }

  .account-max-1024 {
    position: relative;
    display: flex !important;
    flex: 1;
    background: #3ba66b;
  }

  .account-max-1024 a:first-child {
    border-right: 1px solid #fff;
  }

  .account-max-1024 a {
    margin-bottom: 0;
    width: 50%;
    display: inline-block;
    text-align: center;
    color: #fff;
    padding: 20px 5px;
  }

  .account-max-1024 .close-menu {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  .account-max-1024 .close-menu i {
    width: 15px;
    height: 15px;
  }

  .header-left .heade_menunavs .bg-header-nav {
    width: 100%;
    float: left;
    padding-top: 10px;
  }

  .header-left .heade_menunavs .bg-header-nav .header-nav ul.item_big li.nav-item {
    height: unset;
    width: 100%;
    float: left;
  }

  .header-left .heade_menunavs .bg-header-nav .header-nav ul.item_big li.nav-item a {
    text-transform: initial;
    font-size: 15px;
    padding: 0 10px !important;
    color: #333;
    height: unset;
    line-height: 35px;
}

  .header-left .heade_menunavs .bg-header-nav .header-nav ul.item_big li .fa-caret-down {
    visibility: visible;
    position: absolute;
    right: 5px;
    top: 0;
    width: 30px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    display: inline-block;
  }
}